<div class="yui-gf">
  <div class="yui-u first">
    <h2>Curriculum Vitae</h2>
  </div><!--// .yui-u -->

  <div class="yui-u">

    <div class="job">
      <h2>Dev Python & JavaScript, Data Engineer, Capensis</h2>
      <h3>2014</h3>
      <p> Dev of an <a class="nodeco" href="https://github.com/capensis/canopsis">open-source Hypervisor</a>, data processing, and front-end tools at Capensis – Wasquehal, FRANCE.</p>
    </div>


    <div class="job">
      <h2>Dev Node.JS, Data Engineer, Opti-Mix</h2>
      <h3>2013</h3>
      <p> Creation of market research tools, data processing backend at Opti-Mix – Roubaix, FRANCE.</p>
    </div>

    <div class="job">
      <h2>Assistant EPITECH Region </h2>
      <h3>2013</h3>
      <p> Teacher assistant, first year's supervision at EPITECH – Lille, FRANCE.</p>
    </div>

    <div class="job">
      <h2>EPITECH Security Lab Assistant</h2>
      <h3>2013</h3>
      <p> Security consultant at EPITECH – Paris, FRANCE.</p>
    </div>

    <div class="job last">
      <h2>Freelancer</h2>
      <h3>2012</h3>
      <p> WEB Dev, back and frontend (PHP, HTML, CSS, JS)</p>
    </div>

  </div><!--// .yui-u -->
</div><!--// .yui-gf -->
