<div class="yui-gf">
  <div class="yui-u first">
    <h2>Interest</h2>
  </div>
  <div class="yui-u">
    <div class="talent">
      <h2>Computer Security</h2>
      <p>Participation to CTFs : <br>-<a href="https://ctftime.org/team/6456">CTFTime Profile</a><br>-RSSIL 2013<br>-Steria Hacking Challenge 2013 (FireBreathingRubberDuckies)<br>-NDH2k13 Quals (FireBreathingRubberDuckies)<br>-RSSIL 2012</br>-Public Wargames NDH2K12.<br>Attended : </br>-Hack in Paris 2012-3-4<br>-NDH2k12-3-4</br><br></br></p>
    </div>


    <div class="talent">
      <h2>Cinema</h2>
      <p>(S. Kubrick, Q. Tarantino, D. Fincher, T. Burton, P. Chan-wook, T. Kitano)</p>
    </div>

    <div class="talent">
      <h2>Litterature</h2>
      <p>Science-fiction (Stephen King, Aldous Huxleye, Deen Koontz), thriller (Mary Higgins Clark, Harlan Coben, Agatha Christie) and fantastic (J.K. Rowling, Jostein Gaarder, M.R. James, J.R.R. Tolkien, H.P. Lovecraft).</p>
    </div>

    <div class="talent">
      <h2>Other</h2>
      <p>New technologies and practical hacks (electronics, participation to the 2011 Appscript Google Hackathon)
	Modern Art (A. Warhol, J. Pollock …)</p>
    </div>

  </div>
</div><!--// .yui-gf -->
