<div class="yui-gf">
  <div class="yui-u first">
    <h2>Computer Knowledges</h2>
  </div>


  <div class="yui-gf">
    <div class="yui-u">
      <div class="talent">
	<h2>Programming languages</h2>
      </div>
    </div>
    <div class="yui-u">
      <ul class="talent">
	<li><strong>Imperative & OOP</strong></li>
	<li>C</li>
	<li>C++</li>
	<li>JavaScript</li>
	<li class="last">OCaml</li>
      </ul>

      <ul class="talent">
	<li><strong>Scripting</strong></li>
	<li>Python</li>
	<li>Shell script</li>
	<li class="last">PERL</li>

      </ul>

      <ul class="talent">
	<li><strong>Other</strong></li>
	<li class="last">ASMx86</li>
      </ul>
    </div>
  </div><!--// .yui-gf-->

  <div class="yui-u">
    <div class="talent">
      <h2>Other</h2>
    </div>
  </div>

  <div class="yui-u">
    <ul class="talent">
      <li><strong>Operating Systems</strong></li>
      <li>Debian</li>
      <li>NetBSD</li>
      <li>Fedora</li>
      <li class="last">Windows</li>
    </ul>
    <ul class="talent">
      <li><strong>Tools</strong></li>
      <li>Subversion &mdash; Git</li>
      <li>Mantis &mdash; Trello</li>
      <li class="last">EMacs &mdash; ViM</li>
    </ul>
    <ul class="talent">
      <li><strong>Libs & Frameworks</strong></li>
      <li>SFML &mdash; SDL</li>
      <li>Qt &mdash; GTK+-2.0</li>
      <li>FMod &mdash; FModEx</li>
      <li class="last">XLib</li>
    </ul>
    <ul class="talent">
      <li class="last"><a href="https://github.com/Mawu3n4">
	  <img src="public/img/favicon_github.png" alt="GitHub - Social coding" width="32" height="32"></a>
	<a href="https://www.linkedin.com/profile/view?id=311038500">
	  <img src="public/img/favicon_linkedin.png" alt="LinkedIn - Professional Network" width="32" height="32"></a>
	<a href="https://plus.google.com/116548372739315841774/posts">
	  <img src="public/img/favicon_googleplus.png" alt="Google+" width="32" height="32"></a>
	<a href="http://www.root-me.org/Mawu3n4.html?lang=en">
	  <img src="public/img/favicon_rootme.png" alt="Root-Me - Hacking Challenges" width="32" height="32"></a>
	<a href="https://twitter.com/Mawu3n4">
	  <img src="public/img/favicon_twitter.png" alt="Twitter" width="32" height="32"></a></li>
    </ul>
  </div>
</div><!--// .yui-gf -->
