{{set . "title" "Dibe Zackaria | Softwar Engineer | contact@zackdibe.com"}}
{{template "header.html"}}

<div id="bd">
  <div id="yui-main">
    <div class="yui-b">

      {{template "partials/profile.html"}}
      {{template "partials/cv.html"}}
      {{template "partials/knowledges.html"}}
      {{template "partials/education.html"}}
      {{template "partials/lang.html"}}
      {{template "partials/interests.html"}}
      {{template "partials/work.html"}}

    </div><!--// .yui-b -->
  </div><!--// yui-main -->
</div><!--// bd -->

{{template "footer.html"}}
