{{set . "title" "Dibe Zackaria | Softwar Engineer | contact@zackdibe.com"}}
{{template "header.html"}}

    <!-- TAB CONTROLLERS -->
    <input id="panel-1-ctrl"
    	   class="panel-radios" type="radio" name="tab-radios" checked>
    <input id="panel-2-ctrl"
    	   class="panel-radios" type="radio" name="tab-radios">
    <input id="panel-3-ctrl"
    	   class="panel-radios" type="radio" name="tab-radios">
    <input id="panel-4-ctrl"
    	   class="panel-radios" type="radio" name="tab-radios">
    <input id="panel-5-ctrl"
    	   class="panel-radios" type="radio" name="tab-radios">
    <input id="nav-ctrl"
    	   class="panel-radios" type="checkbox" name="nav-checkbox">


    <!-- TABS LIST -->
    <ul id="tabs-list">
      <!-- MENU TOGGLE -->
      <label id="open-nav-label" for="nav-ctrl"></label>
      <li id="li-for-panel-1">
	<label class="panel-label"
               for="panel-1-ctrl">Work Experience</label>
      </li><!--INLINE-BLOCK FIX
	     --><li id="li-for-panel-2">
	<label class="panel-label"
               for="panel-2-ctrl">Education</label>
      </li><!--INLINE-BLOCK FIX
	     --><li id="li-for-panel-3">
	<label class="panel-label underconstruction"
               for="">Skills</label>
      </li><!--INLINE-BLOCK FIX
	     --><li id="li-for-panel-4">
	<label class="panel-label underconstruction"
               for="">Other</label>
      </li><!--INLINE-BLOCK FIX
	     --><li id="li-for-panel-5">
	<label class="panel-label underconstruction"
               for="">Links</label>
      </li>
      <label id="close-nav-label" for="nav-ctrl">Close</label>
    </ul>

    <!-- THE PANELS -->
    <article id="panels">
      <div class="container">

	<section id="panel-1">
	  <main>
            <h1 class="heading first"><strong>Dev Python & JavaScript, Capensis</strong></h1>
            <h2>2014</h2>
            <p> Dev of an <a class="nodeco" href="https://github.com/capensis/canopsis">open-source Hypervisor</a>, Web back and frontend at Capensis – Wasquehal, FRANCE.</p>
	    <hr>

            <h1 class="heading"><strong>Dev Node.JS, Opti-Mix</strong></h1>
            <h2>2013</h2>
            <p> Creation of market research tools, Web backend at Opti-Mix – Roubaix, FRANCE.</p>
	    <hr>

            <h1 class="heading"><strong>EPITECH Pedagogic Assistant, EPITECH </strong></h1>
            <h2>2013</h2>
            <p> Teacher assistant, first year's supervision at EPITECH – Lille, FRANCE.</p>
	    <hr>

            <h1 class="heading"><strong>EPITECH Security Lab Assistant, EPITECH</strong></h1>
            <h2>2013</h2>
            <p> Security consultant at EPITECH – Paris, FRANCE.</p>
	    <hr>

            <h1 class="heading"><strong>Freelancer</strong></h1>
            <h2>2012</h2>
            <p> WEB Dev, back and frontend (PHP, HTML, CSS, JS)</p>
	    <hr>
	  </main>
	</section>

	<section id="panel-2">
	  <main>

            <h1 class="heading first">University of Science and Technologies Lille 1</h1>
            <h2>2013</h2>
            <p> BCs Computer Science &mdash; Sophomore, Lille, FRANCE.</p>
	    <hr>

            <h1 class="heading">EPITECH - European Institute of Technology, France</h1>
            <h2>2011 &mdash; 2013</h2>
            <p>Major in Computer Science &mdash; <strong>3.1 GPA</strong> </p>
	    <hr>

            <h1 class="heading">High School</h1>
            <h2>2010 &mdash; 2011</h2>
            <p>Graduated in engineering from High School, L.I.C.P., Tourcoing FRANCE.
              <br>Internship at the laboratory of computer science research of the University Lille III.</br></p>
	    <hr>

	  </main>
	</section>

	<section id="panel-3">
	  <main>
	  </main>
	</section>

	<section id="panel-4">
	  <main>
	  </main>
	</section>

	<section id="panel-5">
	  <main>
	  </main>
	</section>

      </div>
    </article>
  </body>

{{template "footer.html"}}
