<!DOCTYPE html>

<html>
  <head>
    <link rel="icon"
          type="image.png"
          href="/public/img/favicon_glider.png">

    <title>{{.tittle}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" href="/public/css/reset-fonts-grids.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/public/css/resume.css" media="all" />
    <script src="./lib/jquery.js" type="text/javascript"></script>

  </head>
  <body>

    <div id="doc2" class="yui-t7">
      <div id="inner">

	<div id="hd">
	  <div class="yui-gc">
	    <div class="yui-u first">
	      <h1><a>Dibe Zackaria</a></h1>
	      <h2>auto-entrepreneur,</h2>
	      <h2>software engineer</h2>
	    </div>

	    <div class="yui-u">
	      <div class="contact-info">
		<h3><a id="pdf" href="public/files/DibeZackaria-CV-EN.pdf">Download as PDF</a></h3>
		<h3><a href="mailto:contact@zackdibe.com">contact@zackdibe.com</a></h3>
		<h3>(+447 780 053 160)</h3>
	      </div><!--// .contact-info -->
	    </div>
	  </div><!--// .yui-gc -->
	</div><!--// hd -->

